*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkorchid;
    line-height: 1.7;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    justify-content: center;
    list-style:none;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
    padding-right: 10px;
    align-items: center;
}


nav a{
    text-decoration: none;    
    
}



.main{
    background-color:white;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 14px;
    top:0;
    flex-wrap: nowrap;
    z-index: 1000;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.2);
}



.heading{
    padding: 50px 50px;
    font-size: 50px;
    font-weight: 900;
    align-items: end; 
    padding-top: 50px;   
}

.heading p{
    padding: 10px 0 0 0;
    font-size: medium;
    font-weight: 400;
}

.link a:hover{
    color: rgb(217, 138, 213);
}


footer{
    text-align: center;
    font-size: medium;
    padding: 20px;
}

.navbar{

    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 20px;
    flex-wrap: wrap;   
    
}

.heading{
    justify-content: center;
    height: 100vh;
}

#about{
    height: 100vh;
    padding-top: 100px;
    align-items: center;
    scroll-snap-align: start;
}

#skill{
    height: 100vh;
    padding-top: 100px;
    align-items: center;
    scroll-snap-align: start;

}

#proj{
    height: 100vh;
    padding-top: 100px;
    align-items: center;
    scroll-snap-align: start;

}


#contact{
    height: 100vh;
      padding-top: 100px;
  align-items: center;

}

.icons{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
}

.icons img{
    width: 30px;
    height: auto;
}

.btn{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: darkorchid;
    border: none;
    align-items: center;
}

.btn a{
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
}
