*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

/*------------------------DESKTOP NAVIGATION-------------------------*/


#navbar{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding:20px 15px;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
nav, .links{
    display: flex;
}
nav{
    justify-content: center;
    align-items: center;
    height: 17vh;
}
.links{
    gap: 2rem;
    align-items: center;
    list-style: none;
    font-size: 1.3rem;
}
.link a{
    text-decoration: none;
    color: darkorchid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding-left:25px;
    justify-content: center;
}
.link a:hover{
    color:rgb(211, 35, 250);
    text-decoration: underline;
    text-underline-offset: 10px;
}

/*-------------------LOGO--------------------------*/

.logo{
    color: darkorchid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 800;
    align-items: center;
    margin: 0;
}


/*-----------------------------MOBILE NAVIGATOIN--------------------*/


#mobile{
    display: none;
}
.mobile-menu{
    position: relative;
    display: inline-block;
}
.navicon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

/*------------------------home page--------------------*/


.heading{
    display: flex;
    color: darkorchid;
    padding-top: 10rem;
    padding-bottom: 40px;
}

.text {
    font-size: 3rem;
    justify-content: center;
    display: flex;
    padding-top: 30px;
    align-items: center;
    gap: 30px;
}
.text img{
    width: 30%;
    border-radius: 800px;
    padding-left: 10px;
    align-items: center;
}


/*--------------------------------BODY---------------------*/

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkorchid;
}

/*--------------------------CONTACT BUTTON-------------------*/

.btn{
    background-color: darkorchid;
    font-size: larger;
    font-weight: 700;  
    border: none;
    border-radius: 8px;  
    padding:15px;
    width:auto;
    height: auto;
}
button:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 15px darkorchid;
}
.btn a{
    text-decoration: none;
    color: white;
}
button{ 
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.btncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}


/*-----------------------------ICONS--------------------*/

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px ;
    margin-bottom: 30px;
    gap: 15px;
    
}
.icons img{
    width: 30px;
    border-radius: 5px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;

}
.icons img:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}


/*--------------------HOME PAGE-----------------*/

.firstpage{
    height: 90vh;
}

/*-----------------------about-------------------------*/

#about{
    height: 100vh;
    padding-top: 4rem;
}
#about h2{
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    display: flex;
    padding: 1rem;
}
#about p{
    font-size: 20px;
    font-weight: 600;
    padding:3rem 10rem;
    height: 1rem;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: normal;
    align-items: center;
    justify-content: center;
}



/*----------------------------SKILLS----------------------*/

#skill{
    height: 100vh;
     padding-top: 4rem;
}
#skill h2{
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    display: flex;
    padding: 1rem;   
    margin-bottom: 20px;
}
#skill{
    padding: 40px 20px;
    background-color: white;
    text-align: center;
}
#skill .skill-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin: 0;
}
.skill-cat li{
    background-color: darkorchid;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow:0 4px 10px darkorchid;
    font-size: 1.1rem;
    font-weight: 500;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill-list li:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}
.skill-cat{
    margin-bottom: 40px;
}
.skill-cat h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 11px;
    padding: 10px;
    transition: transform 0.3s ease;

}
.skill-cat h3:hover{
    transform: translateY(-10px);
}

/*--------------------------PROJECT--------------------------*/

#proj{
    height: 100vh;
    padding-top: 4rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

#proj h2{
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    display: flex;
    padding: 1rem;   
    margin-bottom: 20px;
}




.proj{
    display: flex;
    color: darkorchid;
    padding-top: 2rem;
    padding-bottom: 40px;
    justify-content: center;
    gap: 50px;
}

.proj .p1 {
    justify-content: center;
    width: 20%;
    padding:10px;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.p1{
    border-radius: 15px;
    border: dotted;
    background-color: rgb(255, 255, 255);
    transition: transform 0.5s ease;
}
.p1:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 15px darkorchid;
}


/*-------------------------------CONTACT--------------------*/

#contact{
    height: 70vh;
    padding-top: 4rem;
}
#contact h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    padding: 1rem;   
    margin-bottom: 20px;
}
#contact p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 1rem;
}
#contact ul{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1rem;
    list-style: none;
    gap: 1rem;
}
#contact li a{
    display: flex;
    text-decoration: none;
    color: darkorchid;
}
#contact li{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    border: dotted;
    transition: transform 0.5s ease;
}
.mail{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
#contact ul a:hover{
    color: rgb(220, 167, 255);
}
#contact li:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgb(60, 15, 82);
}

/*------------footer-------------*/


.foot{
    display: flex;
    color: darkorchid;
    justify-content: center;
    align-items: center;
    padding:1rem;
    margin-bottom: 3px;
}